@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --font-family: "Manrope", sans-serif;
  --gradient-text: linear-gradient(89.97deg, #e3e5c0 1.84%, #f49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #ae67fa -13.86%, #1d584c 99.55%);
  --gradient-button: linear-gradient(103.22deg, #577a49 -13.86%, #36498a 99.55%);
  --color-bg: #162420;

  --color-footer: #fffaee;
  --color-white: #f7fdfc;
  
  --color-widget: #54a19c;
  --color-opacity: #1b332b9f;

  --color-blog: #cedbd5;
  --color-text: #080808;
  --color-subtext: #ff8a71;
  --color-shadow: 3px 3px 22px #3a5849, -3px -3px 6px #235e409f;
  --color-shadow2: inset 3px 3px 22px #0a140f, inset -3px -3px 6px #103146a9;
  --hover-shadow: 3px 3px 22px #41a171, -3px -3px 6px #42554c;
  --color-frame: 3px 3px 22px #92a9a0, -3px -3px 6px #b8cfc6;
  --bg-color: radial-gradient(circle at 3% 25%, #1f3730 0%, #0a140f 52%);
}

body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 0;
  

  background: -moz-radial-gradient(circle at 3% 25%, #233e37 0%, #0a140f 52%);

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(circle at 3% 25%, #233e37 0%, #0a140f 52%);

  /* opera 11.10+ */
  background: -o-radial-gradient(circle at 3% 25%, #233e37 0%, #0a140f 52%);

  /* ie 10+ */
  background: -ms-radial-gradient(circle at 3% 25%, #233e37 0%, #0a140f 52%);

  /* global 92%+ browsers support */
  background: radial-gradient(circle at 3% 25%, #233e37 0%, #0a140f 52%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


/*
###  OVERWRITE OF @Material UI style
*/

///////////////////////////////////////
// media queries in sass
$mobileS: 320px;
$mobileM: 375;
$mobileL: 425px;
$tablet: 768px;
$laptop: 1024px;
$laptopL: 1440px;
$desktop: 2560px;

.swiper-button-next {
  top: 92% !important;
  background-image: url("https://image.flaticon.com/icons/png/512/545/545783.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  z-index: 9999999999999999999999999999999999999999;
  margin-right: 30%;
}

.swiper-button-prev {
  top: 92% !important;

  background-image: url("https://image.flaticon.com/icons/png/512/545/545781.png");

  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  z-index: 9999999999999999999999999999999999999999;
  margin-left: 30%;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
  opacity: 0.03%;
}

// overight MUI STYLING
.MuiDrawer-paper {
  width: 266px;
  display: block;
  border-radius: 5rem 0 0 0;
  padding: 0;
  height: auto !important;

  @media screen and (min-width: $mobileS) and (orientation: landscape) {
    width: 98% !important;
  }

  @media screen and (min-width: $tablet) and (orientation: landscape) {
    width: 99% !important;
    margin: 0;
  }

  @media screen and (min-width: $laptopL) and (orientation: landscape) {
    width: 67% !important;
  }
}


.MuiBottomNavigationAction-root {
  max-width: 55px !important;
  min-width: 0 !important;
}

.MuiList-root {
  width: 29%;
  border-radius: 3px;
  margin-left: 1rem !important;

  @media screen and (min-width: $mobileS) and (orientation: landscape) {
    width: 33% !important;
  }

  @media screen and (min-width: $mobileM) and (orientation: landscape) {
    width: 86% !important;
  }

  @media screen and (min-width: $tablet) and (orientation: landscape) {
    width: 26% !important;
  }

  @media screen and (min-width: $laptopL) and (orientation: landscape) {
    width: 22% !important;
  }

  .MuiListItem-gutters {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 12.05px;
    margin-left: 0px !important;
    border-radius: 0.5rem;
    text-align: center;
    background-color: var(--gradient-bar);
    border: none;
    box-shadow: var(--color-shadow) !important;
    padding: 3px 27px;
    margin: 8px 8px !important;

    @media screen and (min-width: $mobileS) and (orientation: portrait) {
      padding: 3px 22px;
    }


    @media screen and (min-width: $mobileS) and (orientation: landscape) {
      padding: 5px 27px !important;
      margin: 4.25px !important;
    }

    @media screen and (min-width: $mobileM) and (orientation: portrait) {
      padding: 3px 27px;
    }

    @media screen and (min-width: $tablet) {
      padding: 13.5px 63px;
    }

    @media screen and (min-width: $tablet) and (orientation: landscape) {
      padding: 7px 25px;
    }

    @media screen and (min-width: $laptopL) {
      padding: 7px 8px;
    }
  }
}

.MuiListItem-gutters:hover {
  background: rgb(43, 53, 58) !important;
  box-shadow: var(--color-shadow2);
}


.MuiList-padding {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: auto;
  padding: 20px;
  margin: 18px 0;
  margin-right: 9px !important;
  border-radius: 0.3rem 8.7rem 5.7rem 0.3rem;

  @media screen and (min-width: $mobileM) and (orientation: landscape) {
    padding: 4px;
  }

  @media screen and (min-width: $tablet) {
    max-width: 55%;
    flex-direction: column;
  }

  @media screen and (min-width: $tablet) and (orientation: landscape) {
    flex-direction: row !important;
  }

  @media screen and (min-width: $laptopL) and (orientation: landscape) {
    margin-left: -10rem;
    margin-right: 2rem !important;
    flex-direction: row;
  }
}

.MuiDrawer-paperAnchorRight {
  width: auto;
  border: 2px solid #2c193273 ;
  padding: 7.2px;
  box-shadow: var(--color-shadow);
  left: 5% !important;
  right: 5% !important;
  border-radius: 2rem 2rem 4rem 4rem;

  @media screen and (min-width: $mobileL) {
    left: 0.82% !important;
  }

  @media screen and (min-width: $tablet) {
    left: 5.5% !important;
    right: 5.5% !important;
  }

  @media screen and (min-width: $tablet) and (orientation: landscape) {
    left: 0.5% !important;

  }

  //background
  background:-moz-radial-gradient(circle at 3% 25%, #233e37 0%, #0a140f 52%);

  /* safari 5.1+,chrome 10+ */
  background:-webkit-radial-gradient(circle at 3% 25%, #233e37 0%, #0a140f 52%);

  /* opera 11.10+ */
  background:-o-radial-gradient(circle at 3% 25%, #233e37 0%, #0a140f 52%);

  /* ie 10+ */
  background:-ms-radial-gradient(circle at 3% 25%, #233e37 0%, #0a140f 52%);

  /* global 92%+ browsers support */
  background:radial-gradient(circle at 3% 25%, #233e37 0%, #0a140f 52%);

}

.MuiBackdrop-root {
  background-color: #11141675 !important;
}

.makeStyles-formStyle-14 {
  width: 90vw !important;
}

.MuiListItemIcon-root {
  min-width: 43px !important;
}

.MuiAvatar-root {
  border-radius: 0 !important;
}

.MuiBottomNavigation-root {
  background: none !important;
}

.MuiSvgIcon-root {
  font-size: 1.38rem !important;
}

.MuiToolbar-gutters {
  padding-right: 0px !important;
}

.swiper-slide {
  overflow: hidden !important;
  width: 100vw !important;
}

.MuiBottomNavigationAction-root.MuiBottomNavigationAction-iconOnly {
  border: 1px solid #1b3d30;
  box-shadow: none !important;
}


////////////////////////////


.MuiGrid-grid-sm-8 {
  max-width: 90% !important;
}

////////////

// innput text color

.MuiInputBase-input {
  color: white !important;
}
