.swiper-button-next {
  top: 92% !important;
  background-image: url("https://image.flaticon.com/icons/png/512/545/545783.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  z-index: 9999999999999999999999999999999999999999;
  margin-right: 30%;
}
.swiper-button-prev {
  top: 92% !important;

  background-image: url("https://image.flaticon.com/icons/png/512/545/545781.png");

  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  z-index: 9999999999999999999999999999999999999999;
  margin-left: 30%;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
  opacity: 0.03%;
}

//overight MUI STYLING
.MuiDrawer-paper {
  width: 236px;
  height: auto !important;
  border-radius: 5rem 0 0 0;
  padding: 0;
}

.MuiBottomNavigationAction-root {
  max-width: 55px !important;
  min-width: 0 !important;
}

.MuiPaper-root {
  border-radius: 8rem 0 4rem 0;
  // height: 72vh !important;
}
.MuiBackdrop-root {
  background-color: #000000cf !important;
}

.MuiList-root {
  width: 100%;
  border-radius: 3px;
  .MuiListItem-gutters {
    padding: 4px 16px !important;
  }
}

.MuiListItem-gutters:hover {
  background: linear-gradient(#39cc9f6b, #a5993357) !important;
}

.MuiList-padding {
  padding: 25px 25px 25px 3px !important;
  margin: 21px 0;
  border-top: 1px solid #ffd6b29c;
  border-right: 1px solid #ffd6b29c;
  border-radius: 0.3rem 8.7rem 5.7rem 0.3rem;
  margin-left: 0.71rem;
  width: 100%;
  background: linear-gradient(#446259, #14120a) !important;
}
.MuiDrawer-paperAnchorRight {
  // background: #f8f9fd !important;
  background: linear-gradient(#140a0c, #446259) !important;
}

.MuiPaper-root,
.MuiDrawer-paper,
.MuiDrawer-paperAnchorRight,
.MuiPaper-elevation16 {
  border-radius: 9rem 0rem 5rem 0rem !important;
}

.makeStyles-formStyle-14 {
  width: 90vw !important;
}
.MuiList-root .MuiListItem-gutters {
  margin: 11.25px !important;
}

.MuiList-root .MuiListItem-gutters:nth-child(1) {
  // box-shadow: 1px 1px 2px #ac7f44, -2px -2px 5px #ffb34a;
  border: 0.3px solid #40332b !important;
  border-radius: 0.3rem 4rem 0.7rem 1rem;
  width: 79%;
  background: linear-gradient(#405a526b, #16150d57);
}
.MuiList-root .MuiListItem-gutters:nth-child(2) {
  // box-shadow: 1px 1px 2px #ac7f44, -2px -2px 5px #ffb34a;
  border: 0.3px solid #40332b !important;
  border-radius: 0.7rem 4rem 0.2rem 1rem;
  width: 93%;
  background: linear-gradient(#405a526b, #16150d57);
}
.MuiList-root .MuiListItem-gutters:nth-child(3) {
  // box-shadow: 1px 1px 2px #ac7f44, -2px -2px 5px #ffb34a;
  border: 0.3px solid #40332b !important;
  border-radius: 0.7rem 0.2rem 4rem 1rem;
  width: 93%;
  background: linear-gradient(#405a526b, #16150d57);
}
.MuiList-root .MuiListItem-gutters:nth-child(4) {
  // box-shadow: 1px 1px 2px #ac7f44, -2px -2px 5px #ffb34a;
  border: 0.3px solid #40332b !important;
  border-radius: 0.7rem 0.2rem 4rem 0.3rem;
  width: 79%;
  background: linear-gradient(#405a526b, #16150d57);
}

.MuiListItemIcon-root {
  min-width: 43px !important;
}

// .MuiToolbar-gutters {
//   padding-right: 0 !important;
// }
.MuiAvatar-root {
  border-radius: 0 !important;
}

.MuiBottomNavigation-root {
  background: none !important;
}
