// media queries in sass
$mobileS: 320px;
$mobileM: 375;
$mobileL: 425px;
$tablet: 768px;
$laptop: 1024px;
$laptopL: 1440px;
$desktop: 2560px;

// .smth {
//   //some CSS
//   @media screen and (max-width: $small) {
//     //do Smth
//   }
//   @media screen and (min-width: $medium) {
//     //do Smth
//   }
// }

.swiper-button-next {
  top: 92% !important;
  background-image: url("https://image.flaticon.com/icons/png/512/545/545783.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  z-index: 9999999999999999999999999999999999999999;
  margin-right: 30%;
}
.swiper-button-prev {
  top: 92% !important;

  background-image: url("https://image.flaticon.com/icons/png/512/545/545781.png");

  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  z-index: 9999999999999999999999999999999999999999;
  margin-left: 30%;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
  opacity: 0.03%;
}

// overight MUI STYLING
.MuiDrawer-paper {
  width: 266px;
  border-radius: 5rem 0 0 0;
  padding: 0;
  height: auto !important;
  @media screen and (min-width: $mobileS) and (orientation: landscape) {
    width: 98% !important;
  }

  @media screen and (min-width: $tablet) and (orientation: landscape) {
    width: 77% !important;
    margin: 0;
  }
  @media screen and (min-width: $laptopL) and (orientation: landscape) {
    width: 40% !important;
  }
}

.MuiBottomNavigationAction-root {
  max-width: 55px !important;
  min-width: 0 !important;
}
.MuiList-root {
  width: 88%;
  border-radius: 3px;
  @media screen and (min-width: $mobileS) and (orientation: landscape) {
    width: 29% !important;
  }

  @media screen and (min-width: $laptopL) and (orientation: landscape) {
    width: 30% !important;
  }

  .MuiListItem-gutters {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 16.25px !important;
    margin-left: 0px !important;
    padding: 10px 39px;
    border-radius: 2rem;
    border: 0.0625rem solid transparent;
    box-shadow: 3px 3px 6px #cecfd4, -3px -3px 6px #fff !important;
    @media screen and (min-width: $tablet) {
      padding: 13.5px 63px;
    }
    @media screen and (min-width: $tablet) and (orientation: landscape) {
      padding: 13px 50px;
    }
  }
}
.MuiListItem-gutters:hover {
  background: #fff;
  color: orange !important;
  // border: 1px solid #1f1e2628;
}

.MuiPaper-root {
  border-radius: 8rem 0 4rem 0;
  // min-width: 88% !important;
  margin-right: 0.8rem;
}

.MuiList-padding {
  width: auto;
  padding: 20px;
  margin: 18px 0;
  border-radius: 0.3rem 8.7rem 5.7rem 0.3rem;
  @media screen and (min-width: $mobileM) and (orientation: landscape) {
    padding: 4px;
  }
  @media screen and (min-width: $tablet) {
    max-width: 55%;
  }

  @media screen and (min-width: $laptopL) and (orientation: landscape) {
    margin-left: -10rem;
  }
}
.MuiDrawer-paperAnchorRight {
  background: #f3f4f7 !important;
  width: 90%;
  border: 2px solid #2c193273;
  padding: 7.2px;
  box-shadow: 1px 1px 8px #202d28, 1px 1px 14px #2b2f2e;
  left: 1px !important;
  border-radius: 2rem 2rem 4rem 4rem;
  @media screen and (min-width: $laptopL) and (orientation: landscape) {
    left: 5.4% !important;
  }
}

// .MuiPaper-root,
// .MuiDrawer-paper,
// .MuiDrawer-paperAnchorRight,
// .MuiPaper-elevation16 {
//   border-radius: 9rem 0rem 5rem 0rem !important;
// }
.MuiBackdrop-root {
  background-color: #0000008a !important;
}

.makeStyles-formStyle-14 {
  width: 90vw !important;
}

.MuiList-root .MuiListItem-gutters:nth-child(1) {
  // border-radius: 3.3rem 4.5rem 4px 3.3rem;
  // width: 88%;
}
.MuiList-root .MuiListItem-gutters:nth-child(2) {
  // border-radius: 3.3rem 5rem 4px 3.3rem;
  // width: 98%;
}
.MuiList-root .MuiListItem-gutters:nth-child(3) {
  // border-radius: 3.3rem 4px 5rem 3.3rem;
  // width: 98%;

  // background: #829d5b78 !important;
}
.MuiList-root .MuiListItem-gutters:nth-child(4) {
  // border-radius: 3.3rem 4px 4.5rem 3.3rem;
  // width: 88%;
  // background: #829d5b78 !important;
}

.MuiListItemIcon-root {
  min-width: 43px !important;
}

.MuiAvatar-root {
  border-radius: 0 !important;
}

.MuiBottomNavigation-root {
  background: none !important;
}
.MuiSvgIcon-root {
  font-size: 1.38rem !important;
}
.MuiToolbar-gutters {
  padding-right: 0px !important;
}
.swiper-slide {
  overflow: hidden !important;
  margin-right: 0px !important;
  width: 100vw !important;
}
