.swiper-button-next {
  background-image: url("https://image.flaticon.com/icons/png/512/1287/1287060.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  z-index: 9999999999999999999999999999999999999999;
  margin-right: 50%;
}
.swiper-button-prev {
  background-image: url("https://image.flaticon.com/icons/png/512/1287/1287060.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  z-index: 9999999999999999999999999999999999999999;
  margin-left: 50%;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

//overight MUI STYLING
.MuiDrawer-paper {
  width: 236px;
  height: auto !important;
  border-radius: 5rem 0 0 0;
  padding: 3px 0;
}

.MuiAvatar-img {
  height: 82% !important;
}

.MuiBottomNavigationAction-root {
  max-width: 55px !important;
  min-width: 0 !important;
}

.MuiPaper-root {
  border-radius: 8rem 0 4rem 0;
  // height: 72vh !important;
}
.MuiBackdrop-root {
  background-color: #000000cf !important;
}

.MuiList-root {
  width: 100%;
  border-radius: 3px;
  .MuiListItem-gutters {
    padding: 6px 16px !important;
  }
}

.MuiListItem-gutters:hover {
  background: radial-gradient(#7cc7dd80, #73c2d373) !important;
}

.MuiList-padding {
  padding: 25px 25px 25px 18px !important;
  // box-shadow: 3px 7px 0px 0px #97b5bb45;
  border-radius: 0 6rem 8rem 0;
  margin: 21px 0;
  // background: #c1e0e8;
}
.MuiDrawer-paperAnchorRight {
  background: #c9e9f1 !important;
}

.makeStyles-formStyle-14 {
  width: 90vw !important;
}
.MuiList-root .MuiListItem-gutters {
  margin: 10px 0 10px 0 !important;
}

.MuiList-root .MuiListItem-gutters:nth-child(1) {
  border-radius: 4rem 8rem 0.3rem 0;
  border-radius: 2rem;
  width: 79%;
  background: #588d9a;
  border: 0.3px solid #b6cdce;
  box-shadow: 0px 0px 0px 1px #b1ccd4;
}
.MuiList-root .MuiListItem-gutters:nth-child(2) {
  border-radius: 0.3rem 3.85rem 0.4rem 0.3rem;
  border-radius: 2rem;
  width: 91%;
  background: #588d9a;
  border: 0.3px solid #b6cdce;
  box-shadow: 0px 0px 0px 1px #b1ccd4;
}
.MuiList-root .MuiListItem-gutters:nth-child(3) {
  border-radius: 0.3rem 0.4rem 3.85rem 0.3rem;
  border-radius: 2rem;
  width: 91%;
  background: #588d9a;
  border: 0.3px solid #b6cdce;
  box-shadow: 0px 0px 0px 1px #b1ccd4;
}
.MuiList-root .MuiListItem-gutters:nth-child(4) {
  border-radius: 0 0 8rem 4rem;
  border-radius: 2rem;
  width: 79%;
  background: #588d9a;
  border: 0.3px solid #b6cdce;
  box-shadow: 0px 0px 0px 1px #b1ccd4;
}

.MuiList-root .MuiListItem-gutters:hover {
  // background: #fff !important;
  background: linear-gradient(#59afc9e0, #19a8cc73) !important;
}

.MuiBottomNavigationAction-root.MuiBottomNavigationAction-iconOnly {
  border-radius: 8px 0;
  padding: 2px 6px !important;
  border: 0.3px solid #97b4b5;
  margin: 10px 6px;
  border-radius: 3rem;
  color: cadetblue;
}

.MuiListItemIcon-root {
  min-width: 43px !important;
}
