$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

@media only screen and (min-width: $sm) {
  .MuiGrid-grid-xs-12 {
    max-width: 100% !important;
    flex-basis: 100% !important;
  }
}
@media only screen and (min-width: $md) {
  .MuiGrid-grid-sm-8 {
    max-width: 44% !important;
    flex-basis: 44% !important;
  }
}
@media only screen and (min-width: $lg) {
  .MuiGrid-grid-md-4 {
    max-width: 33.33% !important;
    flex-basis: 33.33% !important;
  }
}
