.App {
  text-align: center;
}

::-webkit-scrollbar {
  display: none;
}

#gradient__text {
  background: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#bronze__text {
  background: linear-gradient(89.97deg, #f49867 1.84%, #0d69bd 102.67%);;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}