@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --font-family: "Manrope", sans-serif;

  --gradient-text: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%);

  --color-bg: #dfcca1;
  --color-footer: #fffaee;
  --color-blog: #042c54;
  --color-text: #302314;
  --color-subtext: #ff8a71;
}


body{
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 0;
  

  background:-moz-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);

  /* safari 5.1+,chrome 10+ */
  background:-webkit-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);

  /* opera 11.10+ */
  background:-o-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);

  /* ie 10+ */
  background:-ms-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);

  /* global 92%+ browsers support */
  background:radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}




/*
###  OVERWRITE OF @Material UI style
*/

///////////////////////////////////////
// media queries in sass
$mobileS: 320px;
$mobileM: 375;
$mobileL: 425px;
$tablet: 768px;
$laptop: 1024px;
$laptopL: 1440px;
$desktop: 2560px;

.swiper-button-next {
  top: 92% !important;
  background-image: url("https://image.flaticon.com/icons/png/512/545/545783.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  z-index: 9999999999999999999999999999999999999999;
  margin-right: 30%;
}
.swiper-button-prev {
  top: 92% !important;

  background-image: url("https://image.flaticon.com/icons/png/512/545/545781.png");

  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  z-index: 9999999999999999999999999999999999999999;
  margin-left: 30%;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
  opacity: 0.03%;
}

// overight MUI STYLING
.MuiDrawer-paper {
  width: 266px;
  border-radius: 5rem 0 0 0;
  padding: 0;
  height: auto !important;
  @media screen and (min-width: $mobileS) and (orientation: landscape) {
    width: 98% !important;
  }

  @media screen and (min-width: $tablet) and (orientation: landscape) {
    width: 99% !important;
    margin: 0;
  }
  @media screen and (min-width: $laptopL) and (orientation: landscape) {
    width: 67% !important;
  }
}

.MuiBottomNavigationAction-root {
  max-width: 55px !important;
  min-width: 0 !important;
}
.MuiList-root {
  width: 29%;
  border-radius: 3px;
  margin-left: 1rem !important;

  @media screen and (min-width: $mobileS) and (orientation: landscape) {
    width: 33% !important;
  }
  @media screen and (min-width: $mobileM) and (orientation: landscape) {
    width: 88% !important;
  }
  @media screen and (min-width: $tablet) and (orientation: landscape) {
    width: 28% !important;
  }

  @media screen and (min-width: $laptopL) and (orientation: landscape) {
    width: 22% !important;
  }

  .MuiListItem-gutters {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 12.05px;
    margin-left: 0px !important;
    border-radius: 0.5rem;
    border: 0.0625rem solid transparent;
    box-shadow: inset 2px 2px 0px #305e97, inset -3px -3px 3px #091236 !important;
    // box-shadow: 3px 3px 6px #cecfd4, -3px -3px 6px #fff !important;
    padding: 5px 28px;
    @media screen and (min-width: $mobileS) and (orientation: landscape) {
      padding: 5px 27px;
      margin: 9.25px !important;
    }
    @media screen and (min-width: $tablet) {
      padding: 13.5px 63px;
    }
    @media screen and (min-width: $tablet) and (orientation: landscape) {
      padding: 7px 25px;
      margin: 13px !important;
    }
    @media screen and (min-width: $laptopL) {
      padding: 7px 8px;
    }
  }
}
.MuiListItem-gutters:hover {
  background: rgba(42, 25, 201, 0.26) !important ;
  background: var(--color-blog) !important ;
  box-shadow: 3px 3px 15px #73aaca , -3px -3px 5px #005ba7  !important;
}


.MuiList-padding {
  width: auto;
  padding: 20px;
  margin: 18px 0;
  margin-right: 9px !important;
  border-radius: 0.3rem 8.7rem 5.7rem 0.3rem;
  @media screen and (min-width: $mobileM) and (orientation: landscape) {
    padding: 4px;
  }
  @media screen and (min-width: $tablet) {
    max-width: 55%;
  }
  @media screen and (min-width: $laptopL) and (orientation: landscape) {
    margin-left: -10rem;
    margin-right: 2rem !important;
  }
}
.MuiDrawer-paperAnchorRight {
  width: auto;
  border: 2px solid #2c193273;
  padding: 7.2px;
  box-shadow: 1px 1px 8px #202d28, 1px 1px 14px #2b2f2e;
  left: 5% !important;
  right: 5% !important;
  border-radius: 2rem 2rem 4rem 4rem;

  @media screen and (min-width: $mobileL) {
    left: 0.82% !important;
  }
  @media screen and (min-width: $tablet) {
    left: 5.5% !important;
    right: 5.5% !important;
  }
  @media screen and (min-width: $tablet) and (orientation: landscape) {
    left: 0.5% !important;
  }
  //background
  background:-moz-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);

  /* safari 5.1+,chrome 10+ */
  background:-webkit-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);

  /* opera 11.10+ */
  background:-o-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);

  /* ie 10+ */
  background:-ms-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);

  /* global 92%+ browsers support */
  background:radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);
  
}

.MuiBackdrop-root {
  background-color: #040e26eb !important;
}

.makeStyles-formStyle-14 {
  width: 90vw !important;
}

.MuiListItemIcon-root {
  min-width: 43px !important;
}

.MuiAvatar-root {
  border-radius: 0 !important;
}

.MuiBottomNavigation-root {
  background: none !important;
}
.MuiSvgIcon-root {
  font-size: 1.38rem !important;
}
.MuiToolbar-gutters {
  padding-right: 0px !important;
}
.swiper-slide {
  overflow: hidden !important;
  width: 100vw !important;
}

.MuiBottomNavigationAction-root.MuiBottomNavigationAction-iconOnly {
  border: 1px solid #152c4b;
 box-shadow:  none !important;
}


////////////////////////////